@tailwind base;
@tailwind components;
@tailwind utilities;

/* Simple green theme overrides */
:root{
  --accent: #16a34a; /* green-600 */
}
body { font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; }
